.navigation-bar-item {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
}

.navigation-bar-item + .navigation-bar-item {
    margin-left: 40px;
}

.navigation-bar-item > span {
    position: relative;
}

.navigation-bar-item > span:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.navigation-bar-item > span:hover:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
