.masonry-link {
	width: 230px;
	margin: 5px;
	background: #e5e5e5;
	border-radius: 5px;

	transition: all 0.15s ease-in-out;

	&:hover {
		transform: translate(0,-6px);
		cursor: pointer;
		background: #e6d3ff;
	}
}

.masonry-link-details {
	padding: 20px;
}

.masonry-link-title {
	font-family: 'Roboto', 'serif';
	font-size: 18px;
	color: #232323;
}

.masonry-link-date {
	font-family: 'Roboto', 'serif';
	font-size: 12px;
	color: #424242;
}

.masonry-link-description {
	font-family: 'Roboto', 'serif';
	font-size: 13px;
	color: #424242;
	margin-top: 8px;
}

.masonry-link-image {
	width: 100%;
	display: block;
	border-radius: 5px 5px 0 0;
}
