.blog-container {
    width: 100%;
    background-color: #ffefb9;
    flex: 1 0;
}

.blog-article-selection-container {
	width: 780px;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
